@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

:root{
    --primary-color:#a855f7;
    --primary-color-dark:#9134e7;
    --secondary-color: #ca8a04;
    --text-dark:#1f2937;
    --text-light:#6b7280;
    --extra-light:#faf5ff;
    --max-width:1200px;
}
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.portbody{
    font-family: poppins, sans-serif;
    
}
a{
    text-decoration: none;
}
nav{
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #feffcd;
    z-index: 99;
}
.navigation{
    margin: auto;
    max-width: var(--max-width);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5rem 1rem;
}
nav .logo a{
    font-size: 1rem;
    font-weight: 600;
    color: var(--primary-color);
    transition:0.2s;
}
nav .logo a:hover{
    color: var(--primary-color-dark);
}
nav .checkbox{
    display: none;
}
nav input{
    display: none;
}
nav .checkbox i{
    font-size: 2rem;
    color: var(--primary-color);
    cursor: pointer;
}
ul{
    display: flex;
    align-items: center;
    gap: 1.5rem;
    transition: 0.2s;
    list-style: none;
}
ul li a{
    font-weight: 600;
    padding: 1.5rem 1rem;
    border: 2px solid transparent;
    color: var(--text-dark);
    transition: 0.2s;
    text-decoration: none;
}
ul li a:hover{
    border-top-color: var(--secondary-color);
    border-bottom-color: var(--secondary-color);
    color: var(--secondary-color);
}
.section{
    background-color: var(--extra-light);
}
.content{
    min-height: 100vh;
    max-width: var(--max-width);
    margin: auto;
    padding: 1rem;
    display: grid;
    grid-template-columns: repeat(2,1fr);
    gap: 4rem;
}
.text{
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.hello{
    letter-spacing: 2px;
    color: var(--text-light);
    font-weight: 600;
    margin-bottom: 0.5rem;
}
.my{
    font-size: 2.5rem;
    font-weight: 400;
    line-height: 3rem;
    color: var(--text-dark);
    margin-bottom: 1rem;
}
.my span{
    font-weight: 600;
}
.about{
    line-height: 1.5rem;
    color: var(--text-light);
    margin-bottom: 2rem;
}
.buttons{
    display: flex;
    gap: 1.5rem;
}
.buttons button{
    font-size: 1rem;
    font-weight: 600;
    letter-spacing: 2px;
    padding: 1rem 2rem;
    border: 2px solid var(--primary-color);
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
}
.hire{
    background-color: var(--primary-color);
    color: #ffffff;
}
.hire:hover{
    background-color: var(--primary-color-dark);
}
.portfolio{
    color: var(--primary-color);
}
.portfolio:hover{
    background-color: var(--primary-color-dark);
    columns: #ffffff;
}
.profile{
    display: grid;
    place-items: center;
}
.profile img{
    width: min(25rem,90%);
    border-radius: 100%;
}
@media(width < 750px){
    nav .checkbox{
        display: block;
    }
    ul{
        position: absolute;
        width: 100%;
        height: calc(100v-85px);
        left: -100%;
        top: 85px;
        background-color: var(--extra-light);
        flex-direction: column;
        justify-content: center;
        gap: 3rem;
    }
    nav #check:checked ~ ul{
        left: 0;
    }
    ul li a{
        font-size: 1.25rem;
    }
    .content{
        padding: 10rem 1rem 5rem 1rem;
        text-align: center;
        grid-template-columns: repeat(1,1fr);
    }
    .profile{
        grid-area: 1/1/2/2;
    }
    .buttons{
        margin: auto;
    }
}
